<header class="l-header">
  <div class="l-header__inner clearfix">
    <div class="c-header-icon js-hamburger">
      <div class="hamburger-toggle">
        <span class="bar-top"></span>
        <span class="bar-mid"></span>
        <span class="bar-bot"></span>
      </div>
    </div>
    <div class="c-search">
      <input class="c-search__input u-input" placeholder="Search..." type="text" />
    </div>
    <div class="header-icons-group">
      <div class="c-header-icon" id="userInfo">
        <i class="fa  fa-user-circle-o"></i>
        &nbsp; Hello {{userName}}
      </div>
      <div class="c-header-icon notification">
        <span class="c-badge c-badge--header-icon animated shake">87</span>
        <i class="fa fa-bell"></i>
      </div>
      <div class="c-header-icon logout" (click)="logout()">
        <i class="fa fa-power-off"></i>
      </div>
    </div>
  </div>
</header>
