<div class="modal-dialog" id="login-form">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-bold">Login</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body mx-3">
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="defaultForm-email" class="form-control validate">
                <label data-error="wrong" data-success="right" for="defaultForm-email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="defaultForm-pass" class="form-control validate">
                <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Login</button>
        </div>
    </div>
</div>