<ng-container *ngIf="courseBookmark != null">
  <div class="row">
    <div  [class.hidden]="isCourseDetailPage" class="card bg-light mb-3 course-card" style="max-width: 20rem;" *ngFor="let course of courseBookmark">
      <div class="card-header">
        <span class="card-title">{{course?.courseName}} </span>
      </div>
      <div class="card-body">
        <h6 class="card-title"> by {{course?.createdBy}}</h6>
        <p class="card-text"> Target Audience: {{course?.targetAudience}}</p>
        <p class="card-text"> {{course?.shortDescription}}</p>
        <ota-course-detail-btn [course]="course"></ota-course-detail-btn>
        <ota-bookmark-icon [id]="course.id" [userbookmark]="bookmark"></ota-bookmark-icon>
      </div>
    </div>
  </div>
</ng-container>


<ng-container  *ngIf="courseBookmark == null">
  <div class="card">
    <div class="card-header">
      Bookmark not found
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>Please bookmark some course and get back</p>
      </blockquote>
    </div>
  </div>
</ng-container>

<div *ngIf="isCourseDetailPage">
  <ng-container>
    <ota-course-detail></ota-course-detail>
  </ng-container>
</div>
