<ota-spinner [loading]="loading"></ota-spinner>
<div *ngIf="!loading">
  <div class="row" *ngIf="isDetailPage">
    <a class="btn btn-primary" (click)="togglePathPage()">
      <i class="fa fa-arrow-circle-left"></i> Back</a>
  </div>

  <br>

  <ng-container *ngIf="courseByPathId != 0">
    <div class="row">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text">{{learningPathDescription}}</p>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="card bg-light mb-3 course-card" style="max-width: 20rem;" *ngFor="let course of courseByPathId">
        <div class="card-header">
          <span class="card-title">{{course?.courseName}} </span>
        </div>
        <div class="card-body">
          <h6 class="card-title"> by {{course?.createdBy}}</h6>
          <p class="card-text"> Target Audience: {{course?.targetAudience}}</p>
          <p class="card-text"> {{course?.shortDescription}}</p>
          <ota-course-detail-btn [course]="course"></ota-course-detail-btn>
          <ota-bookmark-icon [id]="course.id" [userbookmark]="bookmark"></ota-bookmark-icon>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="courseByPathId == 0">
    <div class="card">
      <div class="card-header">
        Course not found
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>The course is being construct. Please visit later</p>
        </blockquote>
      </div>
    </div>
  </ng-container>
</div>
