<div class="modal-dialog" role="document" id="signup-form">
    <div class="modal-content">
        <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-bold">Sign up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body mx-3">
            <div class="md-form">
                <i class="fa fa-user prefix grey-text"></i>
                <input type="text" id="orangeForm-name" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input type="email" id="orangeForm-email" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <input type="password" id="orangeForm-pass" class="form-control validate">
                <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
            </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button class="btn btn-default btn-rounded mb-4">Sign up</button>
        </div>
    </div>
</div>