.path-content{
  margin-top: 2%;

  .path-item{
    .card-img-top {
      width: 30%;
    }
  
    img {
      margin: 0 auto;
      margin-top: 20px;
    }
  
    .card-body {
      padding-top:40px;
    }
  }
  
}