<div class="l-sidebar__content">
  <nav class="c-menu js-menu">
    <ul class="u-list">
      <li class="c-menu__item"  routerLinkActive="is-active" data-toggle="tooltip" title="Path">
        <a routerLink='path' class="c-menu__item__inner">
          <i class="fa fa-book"></i>
          <div class="c-menu-item__title">
            <span>Path</span>
          </div>
        </a>
      </li>
      <li class="c-menu__item"  routerLinkActive="is-active" data-toggle="tooltip" title="Bookmarks">
        <a routerLink='bookmarks' class="c-menu__item__inner">
          <i class="fa fa-bookmark "></i>
          <div class="c-menu-item__title">
            <span>Bookmarks</span>
          </div>
        </a>
      </li>
      <li class="c-menu__item"  routerLinkActive="is-active" data-toggle="tooltip" title="My Courses">
        <a routerLink='mycourse' class="c-menu__item__inner">
          <i class="fa fa-id-card-o"></i>
          <div class="c-menu-item__title">
            <span>My Courses</span>
          </div>
        </a>
      </li>
      <li class="c-menu__item" data-toggle="tooltip" title="Settings">
        <div class="c-menu__item__inner">
          <i class="fa fa-cogs"></i>
          <div class="c-menu-item__title">
            <span>Settings</span>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
