<ota-spinner [loading]="loading"></ota-spinner>
<div class="row" *ngIf="!loading">
  <div class="col-3">
    <a class="btn back-btn btn-primary" (click)="backToPrevious()">
      <i class="fa fa-arrow-circle-left"></i> Back</a>
    <accordion>
      <div *ngFor="let data of courseDetailList">
        <accordion-group heading="{{data.courseDetail.title}}">
          <p  *ngFor="let courseDetail of data.courseModule">
            <span class="courseTitle" (click)="viewCourse(courseDetail.courseMediaId)">{{courseDetail.title}}</span>
          </p>
        </accordion-group>
      </div>
    </accordion>
  </div>
  <div class="col-9" *ngIf="blobUrl">
    <video #videoPlayer controls (click)="toggleVideo()" preload="metadata">
      <source src="https://drive.google.com/uc?export=download&id={{blobUrl}}" type='video/webm' />
    </video>
  </div>
</div>
